[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=hue-control-sailfish
Exec=hue-control-sailfish
Name=hue-control-sailfish
# translation example:
# your app name in German locale (de)
Name[de]=hue-control-sailfish

